.button {
  @include transition(none);
  @include user-select(none);
  // border: solid 1px $grey-dark;
  background: $green;
  color: $white;
  font-size: 12px;
  line-height: 1.6em;
  letter-spacing: 0.2em;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  &:hover, &:focus {
    background: $green-lighter;
    // color: $black-light;
    // color: $green;
    // border: solid 1px $green;
  }
  &:active {
    @include transform(scale(0.99));
  }
  &--light {
    background: $grey-lightest;
    color: $black-light;
    &:hover, &:focus {
      background: $green-lightest;
      color: $black-light;
      // border: solid 1px $grey-lightest;
    }
  }
  &--hover {
    color: inherit;
    &__button-wrap {
      position: absolute;
      @include transition(bottom 0.4s);
      left: 0;
      right: 0;
      bottom: -15px;
      margin-top: 0;
      text-align: center;
    }
    .button {
      @include transition(opacity 0.4s);
      opacity: 0;
    }
    &:hover {
      color: inherit;
      .button--hover__button-wrap {
        bottom: 10px;
      }
      .button {
        opacity: 1;
      }
    }
  }
  &--empty {
    background: transparent;
    border: solid 2px;
    color: $green;
    &:hover, &:focus {
      background: transparent;
      color: $green-lighter;
    }
  }
  &--with-icon {
    &:hover {
      i {
        @extend .animated-icon--jump
      }
    }
  }
  &--small {
    font-size: 11px;
    text-transform: none;
    padding: 10px 15px;
  }
}

@include mq(small) {
  .button {
    &--hover {
      &__button-wrap {
        position: static;
      }
      .button {
        opacity: 1;
      }
    }
  }
}