.green-row {
  &__item {
    position: relative;
    z-index: 1;
    & > a, & > a:hover {
      color: $white;
    }
    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      left: 0;
      opacity: 0.25;
      z-index: 0;
      @include mq(mediumDown) {
        display: none;
      }
    }
    &:hover:before {
      @include radial-gradient(circle at 50% 50%, $white, $black);
    }
  }
  &__item:nth-last-child(5) {
    background: $green-darker;
    .button {
      color: $green-darker;
    }
  }
  &__item:nth-last-child(4) {
    background: $green-dark;
    .button {
      color: $green-dark;
    }
  }
  &__item:nth-last-child(3) {
    background: $green;
    .button {
      color: $green;
    }
    &.project--other {
      @include mq(mediumDown) {
        display: none;
      }
    }
  }
  &__item:nth-last-child(2) {
    background: $green-light;
    .button {
      color: $green-light;
    }
  }
  &__item:nth-last-child(1) {
   background: $green-lighter; 
   .button {
      color: $green-lighter;
    }
  }
}