.project-filters {
  background: $white;
  position: static;
  top: $mini-header-height - 5px;
  font-size: 0;
  &__button {
    display: inline-block;
    margin: 3px;
    color: $grey;
    padding: 5px 10px;
    border: solid 3px;
    font-weight: 400;
    font-size: 13px;
    &--active, &:hover, &:focus {
      // background: $grey-dark;
      color: $green;
      // border: solid 3px;
    }
  }
  &.sticky {
    @include transition(top 0.6s);
    border-bottom: solid 1px $grey-light;
    position: fixed;
    top: $header-height - 5px;
    z-index: 10000;
    .headroom--not-top.headroom--unpinned & {
      top: $mini-header-height - 5px;
    }
  }
}

.filterSection-placeholder {
  margin-top: 71px;
}

@include mq(small) {
  .project-filters {
    // top: $mobile-header-height - 5px;
    &.sticky {
      position: static;
      border-bottom: none;
      // top: $mobile-header-height - 5px;
      // .headroom--not-top.headroom--unpinned & {
      //   top: $mobile-header-height - 5px;
      // }
    }
  }
  .filterSection-placeholder {
    margin-top: 0;
  }
}