.date-scroll-forward {
  @include hwa;
  @include animation(date-scroll-forward 1s 1);
}

.date-scroll-backwards {
  @include hwa;
  @include animation(date-scroll-backwards 1s 1);
}

.first-date-scroll-forward {
  @include hwa;
  @include animation(first-date-scroll-forward 1s 1);
}

.first-date-scroll-backwards {
  @include hwa;
  @include animation(first-date-scroll-backwards 1s 1);
}


.previous-scroll-forward {
  @include hwa;
  @include animation(previous-scroll-forward 1s 1);
}

.previous-scroll-backwards {
  @include hwa;
  @include animation(previous-scroll-backwards 1s 1);
}

.first-previous-scroll-forward {
  @include hwa;
  @include animation(first-previous-scroll-forward 1s 1);
}

.first-previous-scroll-backwards {
  @include hwa;
  @include animation(first-previous-scroll-backwards 1s 1);
}


.section--about {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  // overflow-y: auto;
  // -webkit-overflow-scrolling: touch;
}

.me {
  &__popup {
    @include transition(left 0.6s cubic-bezier(0.435, 0.000, 0.300, 0.850));
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 10;
    left: 100%;
    background: $grey-lightest;
    background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.03) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0.03))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.03) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.03) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.03) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.03) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#08000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    &__wrap {
      display: table;
      height: 100%;
      width: 100%;
    }
    &__container {
      display: table-cell;
      vertical-align: middle;
      padding: 30px 100px;
      @include mq(mediumDown) {
        padding: 0;
      }
    }
    &__inner {
      // @include box-shadow(0, 0, 50px, -10px, rgba($black-light, 0.8));
      padding: 30px;
      // background: $white;
      position: relative;
      min-height: 300px;
      max-height: 100%;
      overflow-y: auto;
      @include mq(small) {
        padding: 15px;
        max-width: 90%;
        margin: auto;
      }
    }
    &__close {
      position: absolute;
      right: 15px;
      top: 0;
      color: $grey;
      font-size: 25px;
      cursor: pointer;
      &:hover {
        color: $grey-dark;
      }
    }
    @include mq(small) {
      position: fixed;
      background-color: $white;
      top: $mobile-header-height;
      height: calc(100vh - #{$mobile-header-height});
      .me__popup--open & {
        left: 0;
      }
    }
  }
  &__summary {
    position: relative;
    height: 100vh;
    margin-top: -$header-height;
    padding-top: $header-height;
    &__header {
      position: absolute;
      width: 100%;
      cursor: pointer;
      @include mq(mediumDown) {
        position: static;
      }
    }
    &__content {
      @include transition(left 0.6s cubic-bezier(0.435, 0.000, 0.300, 0.850));
      left: 0;
      height: 100%;
      .me__popup--open & {
        left: -66.6667%;
        @include mq(mediumDown) {
          left: -50%;
        }
        @include mq(small) {
          left: -100%;
        }
      }
    }
    & &__topic {
      @include transform(scale(1));
      @include transition(transform 0.2s, box-shadow 0.2s);
      @include hwa;
      @include box-shadow(0, 3px, 9px, -5px, rgba($black-light,0.8));
      margin: 15px;
      background: $grey-lightest;
      padding: 7px 15px;
      min-height: 50px;
      &--with-more {
        cursor: pointer;
        &:hover {
          @include box-shadow(0, 5px, 10px, -6px, rgba($black-light,0.9));
          @include transform(scale(1.07));
          &:after {
            color: $grey-dark;
          }
        }
        &.shrink-card {
          @include animation(shrink-card 0.7s 1);
          @include animation-play-state(running);
        }
        &:after {
          content: '\f48a';
          font-family: Ionicons;
          position: absolute;
          display: inline-block;
          bottom: 1px;
          right: 7px;
          color: $grey;
          text-align: center;
        }
      }
    }
    &__icon {
      @include box-shadow(2px,1px,2px,-1px,rgba($grey-dark,0.3));
      position: absolute;
      top: 0;
      height: 100%;
      left: 0;
      width: 50px;
      font-size: 25px;
      text-align: center;
      color: $grey-dark;
    }
    &__item {
      margin-left: 50px;
      &.me__summary__item--hidden {
        display: none;
      }
      &--detailed {
        padding-bottom: 5px;
        .me__summary {
          &__meta {
            width: 200px;
            @include mq(mediumDown) {
              width: 100%;
            }
          }
          &__description {
            margin-left: 200px;
            @include mq(mediumDown) {
              margin-left: 0;
            }
            p {
              font-size: 12px;
              line-height: 1.2em;
            }
          }
        }
        @include mq(mediumDown) {
          padding-bottom: 10px;
        }
      }
    }
    &__meta {
      display: inline-block;
      font-size: 11px;
      width: 100%;
      color: $grey-dark;
    }
    &__meta {
      display: inline-block;
      // font-size: 11px;
      // margin-right: 10px;
      // color: $grey; 
    }
    &__picture {
      @include transition(opacity 0.4s);
      @include opacity(1);
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
    }
    &__open-popup-wrap {
      @include mq(mediumDown) {
        position: absolute;
        right: 0;
      }
    }
    &__open-popup {
      cursor: pointer;
      // &__button {
      //   @include transition(bottom 0.4s);
      //   position: absolute;
      //   width: 100%;
      //   bottom: -46px;
      //   z-index: 1;
      // }
      &:hover {
        .me__summary {
          // &__download-resume__button {
          //   bottom: 30px;
          //   i {
          //     @include hwa;
          //     @include animation(icon-bounce 1s infinite);
          //     @include animation-play-state(running);
          //     position: relative;
          //   }
          // }
          &__picture {
            @include opacity(0.8);
          }
        }
      }
    }
    &__scroll-container {
      position: absolute;
      bottom: 5px;
      width: 100%;
      left: 0;
      text-align: center;
    }
    &__scroll-icon {
      position: relative;
      font-size: 25px;
      color: $green;
      cursor: pointer;
      padding: 10px;
      &:hover {
        @extend .animated-icon--jump;
      }
      @include mq(mediumDown) {
        display: none;
      }
    }
    // &__scroll-button {
    //   @include sansSerif;
    //   text-transform: uppercase;
    //   font-weight: 700;
    //   position: relative;
    //   height: 80px;
    //   color: $grey-light;
    //   line-height: 20px;
    //   background-color: $green;
    //   cursor: pointer;
    //   font-size: 12px;
    //   z-index: 2;
    //   &:before {
    //     font-family: Ionicons;
    //     position: absolute;
    //     left: 0;
    //     width: 100%;
    //     text-align: center;
    //   }
    //   &:hover {
    //     background-color: lighten($green, 1%);
    //   }
    //   [data-state="summary"] & {
    //     @include box-shadow(0, 2px, 2px, 0, rgba($green-dark,0.6), true);
    //     padding-top: 25px;
    //     &:before {
    //       content: '\f126';
    //       top: 5px;
    //     }
    //   }
    //   [data-state="timeline"] & {
    //     @include box-shadow(0, -2px, 2px, 0, rgba($green-dark,0.6), true);
    //     padding-top: 5px;
    //     &:before {
    //       content: '\f123';
    //       top: 25px;
    //     }
    //   }
    // }
    @include mq(mediumDown) {
      height: auto;
    }
  }
}

.timeline {
  &__icons {
    @include transition(bottom 0.5s 0s);
    font-size: 0;
    height: 0;
    position: absolute;
    width: 100%;
    bottom: 30px;
    .no-previous-event & {
      @include transition(bottom 0.5s 0.5s);
      bottom: 65px;
    }
  }
  &__icon {
    position: relative;
    top: 0;
    height: 18px;
    display: inline-block;
    width: $metaLineWidth - 2px;
    margin: auto 1px;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    padding: 2px;
    color: $white;
    background: $black-light;
    border-radius: 50%;
    font-family: Ionicons;
    z-index: 30;
    &:before {
      margin-left: 1px;
    }
    &--location {
      // left: $metaLineWidth;
    }
    &--company {
      // left: $metaLineWidth * 2;
    }
  }
  &__summary {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include mq(mediumDown) {
      display: none;
    }
    &__inner {
      width: $metaLineWidth * 3;
      margin: auto;
      position: relative;
      height: 100%;
      z-index: 10;
    }
    .time-now {
      @include transition(top 0.5s, height 0.5s);
      position: absolute;
      top: 0;
      height: 0;
      width: 100%;
      z-index: 12;
      background: $white;
      &:before, &:after {
        @include transition(top 0.5s, height 0.5s);
        position: absolute;
        content: '';
        top: 0;
        height: 0;
        width: 100%;
        background: $white;
      }
    }
    &.no-next-event .time-now {
      top: 5px;
      height: 5px;
      &:before {
        opacity: 0.8;
        top: -5px;
        height: 5px;
      }
      &:after {
        top: 10px;
        height: 5px;
      }
    }
  }
  &__date-container {
    // @include transition(top 0.5s);
    position: absolute;
    height: 0;
    width: 100%;
    text-align: center;
    top: 50%;
    z-index: 11;
    .no-previous-event & {
      top: calc(100% - 21px);
    }
  }
  &__item {
    display: inline-block;
    position: absolute;
    width: $metaLineWidth - 1px;
    margin: auto 0.5px;
    font-size: 0;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &__title.has-title {
      position: absolute;
      opacity: 0;
      height: 0;
      top: 50%;
      width: 500px;
      left: -250px + $metaLineWidth / 2;
      text-align: center;
      &:after {
        background: $white;
        display: inline-block;
        @include box-shadow(0px, 1px, 2px, 0, rgba($black-light, 0.5));
        content: attr(data-title);
        position: relative;
        height: 40px;
        line-height: 40px;
        padding: 0 5px;
        font-size: 12px;
        top: -20px;
        z-index: 50;
      }    
    }
    &:hover {
      &:not([data-bg="0"]):after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba($white, 0.3);
      }
      .timeline__item__title {
        opacity: 1;
      }
    }
    &--current {
      height: 100%;
      .timeline__item__title {
        top: 25%;
      }
      &:after {
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.2) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
      }
    }
    &--previous {
      // @include transition (height 0.5s);
      top: 50%;
      height: 50%;
      .no-previous-event & {
        height: 0;
      }
      &:after {
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
      }
    }
    // &--hidden {
    //   display: none;
    // }
    &:hover .timeline__item__title {
          
    }
    &--current-date {
      @include box-shadow(0px, 1px, 2px, 0, rgba($black-light, 0.5));
      padding: 0 20px;
      position: relative;
      font-size: 15px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: white;
      top: -20px;
      width: auto;
      &:after {
        display: none;
      }
    }
    &--current-study, &--previous-study {
      &[data-bg="1"] {
        background: $green;
      }
      &[data-bg="2"] {
        background: $green-lighter;       
      }
    }
    &--current-location, &--previous-location {
      left: $metaLineWidth;
      &[data-bg="1"] {
        background: $brown;
      }
      &[data-bg="2"] {
        background: $brown-light;       
      }
    }
    &--current-company, &--previous-company {
      left: $metaLineWidth * 2;
      &[data-bg="1"] {
        background: $green;
      }
      &[data-bg="2"] {
        background: $green-lighter;       
      }
    }
    &[data-bg="0"] {
      background: $grey-lightest;
    }
  }
  &__years {
    position: fixed;
    right: 0;
    top: $header-height;
    height: calc(100% - #{$header-height});
    display: table;
    z-index: 10;
    @include mq(mediumDown) {
      display: none;
    }
  }
  &__year {
    position: relative;
    vertical-align: middle;
    display: block;
    width: 50px;
    font-size: 13px;
    height: 50px;
    margin: 5px 10px;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    line-height: 50px;
    color: $grey;
    border: solid 1px;
    .border-canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &:active, &:focus {
      color: $grey;
    }
    &:hover, &.timeline__year--active {
      color: $green-lighter;
    }
    &.timeline__year--active {
      border: none;
    }
  }
}

.events {
  height: calc(100vh - #{$header-height});
  position: relative;
  background: $white;
  z-index: 2;
  &__item {
    position: absolute;
    width: 100%;
    height: 100%;
    // background: red;
    z-index: 1;
    &.events__item--active {
      z-index: 2;
    }
    @include mq(mediumDown) {
      height: auto;
      position: static;
    }
  }
  @include mq(mediumDown) {
    height: auto;
  }
}

.life-event {
  font-size: 0;
  &__text {
    font-size: 16px;
    @include transition(opacity 0.4s 0.1s, padding-left 0.4s 0.1s);
    position: absolute;
    left: 0;
    display: inline-block;
    width: calc(50% - #{$metaLineWidth} * 3 / 2);
    height: 100%;
    opacity: 0;
    padding-left: 75px;
    .switch-side & {
      left: calc(50% + #{$metaLineWidth} * 3 / 2);
    }
    .events__item--active & {
      @include transition(opacity 0.4s 1s, padding-left 0.4s 1s);
      opacity: 1;
      margin-left: 0;
    }
    @include mq(mediumDown) {
      position: static;
      opacity: 1;
      width: 100%;
      padding: 0;
    }
  }
  &__title {
    @include transition(opacity 0.4s 0.1s, margin-left 0.4s 0.1s);
    opacity: 0;
    position: relative;
    z-index: 18;
    margin-left: -75px;
    .events__item--active & {
      @include transition(opacity 0.4s 1s, margin-left 0.4s 1s);
      margin-left: 0;
      opacity: 1; 
    }
    .events__item--no-picture & {
      color: $black-light;
    }
    @include mq(mediumDown) {
      opacity: 1;
      margin-left: 0;
    }
  }
  &__meta {
    display: none;
    color: $grey-lightest;
    font-size: 0;
    .events__item--no-picture & {
      color: $grey-dark;
    }
    @include mq(mediumDown) {
      display: inline-block;
      position: relative;
      z-index: 18;
      &__period, &__location {
        white-space: nowrap;
        font-size: 12px;
        padding: 0 10px;
      }
    }
  }
  &__picture-file {
    display: none;
  }
  &__picture-bg {
    display: none;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      height: 100%;
      background: rgba($black, 0.5);
      z-index: 15;
    }
    @include mq(mediumDown) {
      display: inline-block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__picture {
    position: absolute;
    left: calc(50% + #{$metaLineWidth} * 3 / 2);
    display: inline-block;
    width: calc(50% - #{$metaLineWidth} * 3 / 2);
    height: 100%;
    font-size: 1em;
    overflow: hidden;
    font-size: 16px;
    &__slice {
      // @include filter(grayscale(100%));
      position: absolute;
      background-size: auto 100%;
      height: 100%;
      &:nth-child(odd) {
        @include transform(translate3d(0,-100%,0));
      }
      &:nth-child(even) {
        @include transform(translate3d(0,100%,0));
      }
      @for $i from 0 through 9 {
        &--#{$i} {
          @include transition(transform 0.5s #{random(8) / 10}s);
        }
      }
      .events__item--active & {
        @include transform(translate3d(0,0,0));
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        height: 100%;
        background: rgba($black, 0.5);
        z-index: 15;
      }
      @include mq(mediumDown) {
        display: none;
      }
    }
    .switch-side & {
      left: 0;
    }
    .events__item--with-picture & {
      @include mq(mediumDown) {
        &__overlay {
          position: absolute;
          width: 100%;
          bottom: 15px;
        }
      }
    }
    .events__item--no-picture & {
      @include mq(mediumDown) {
        padding-top: 30px;
        height: auto;
      }  
    }
    @include mq(mediumDown) {
      position: relative;
      left: 0;
      height: 200px;
      width: 100%;
    }
    @include mq(small) {
      height: 150px;
    }
  }
  @include mq(mediumDown) {
    &:nth-child(odd) {
      background: $grey-lightest;
    }
  }
}