.date-scroll-forward {
  @include animation(date-scroll-forward 1s 1);
}

.date-scroll-backwards {
  @include animation(date-scroll-backwards 1s 1);
}

.first-date-scroll-forward {
  @include animation(first-date-scroll-forward 1s 1);
}

.first-date-scroll-backwards {
  @include animation(first-date-scroll-backwards 1s 1);
}


.previous-scroll-forward {
  @include animation(previous-scroll-forward 1s 1);
}

.previous-scroll-backwards {
  @include animation(previous-scroll-backwards 1s 1);
}

.first-previous-scroll-forward {
  @include animation(first-previous-scroll-forward 1s 1);
}

.first-previous-scroll-backwards {
  @include animation(first-previous-scroll-backwards 1s 1);
}


.section--about {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.me {
  &__popup {
    @include transition(left 0.4s);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    left: -100%;
    &__wrap {
      display: table;
      height: 100%;
      width: 100%;
    }
    &__container {
      display: table-cell;
      vertical-align: middle;
      padding: 30px;
    }
    &__inner {
      padding: 30px;
      background: $white;
      border: solid 2px $black-light;
      position: relative;
    }
    &__close {
      position: absolute;
      right: 15px;
      top: 0;
      color: $grey;
      font-size: 25px;
      cursor: pointer;
      &:hover {
        color: $grey-dark;
      }
    }
    &--open {
      left: 0;
      .me__popup {
        &__inner {
          // left: 0;
        }
      }
    }
  }
  &__summary {
    position: relative;
    height: 100vh;
    margin-top: -$header-height;
    padding-top: $header-height;
    &__content {
      height: 100%;
    }
    & &__topic {
      @include transform(scale(1));
      @include transition(transform 0.2s, box-shadow 0.2s);
      @include hwa;
      @include box-shadow(0, 3px, 9px, -5px, rgba($black-light,0.8));
      margin: 15px;
      background: $grey-lightest;
      padding: 15px;
      cursor: pointer;
      ul {
        width: calc(100% - (50px));
        margin-left: 50px;
        & > :not(:first-child) {
          display: none;
        }
      }
      &:hover {
        @include box-shadow(0, 5px, 10px, -6px, rgba($black-light,0.9));
        @include transform(scale(1.07));
      }
      &.shrink-card {
        @include animation(shrink-card 0.7s 1);
        @include animation-play-state(running);
      }
      &:after {
        content: '...';
        display: inline-block;
        height: 30px;
        line-height: 30px;
        width: 100%;
        text-align: center;
      }
    }
    &__icon {
      @include box-shadow(2px,1px,2px,-1px,rgba($grey-dark,0.3));
      position: absolute;
      top: 0;
      height: 100%;
      left: 0;
      width: 50px;
      font-size: 25px;
      text-align: center;
      color: $grey-dark;
    }
    &__item {
      &.me__summary__item--hidden {
        display: none;
      }
    }
    &__date {
      display: inline-block;
      font-size: 11px;
      margin-right: 10px;
      color: $grey;
    }
    &__meta {
      display: inline-block;
      // font-size: 11px;
      // margin-right: 10px;
      // color: $grey; 
    }
    &__picture {
      @include transition(opacity 0.4s);
      @include opacity(1);
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
    }
    &__open-popup {
      // &__button {
      //   @include transition(bottom 0.4s);
      //   position: absolute;
      //   width: 100%;
      //   bottom: -46px;
      //   z-index: 1;
      // }
      &:hover {
        .me__summary {
          // &__download-resume__button {
          //   bottom: 30px;
          //   i {
          //     @include hwa;
          //     @include animation(icon-bounce 1s infinite);
          //     @include animation-play-state(running);
          //     position: relative;
          //   }
          // }
          &__picture {
            @include opacity(0.8);
          }
        }
      }
    }
    &__scroll-container {
      position: absolute;
      bottom: 5px;
      width: 100%;
      left: 0;
      text-align: center;
    }
    &__scroll-icon {
      position: relative;
      font-size: 25px;
      color: $green;
      cursor: pointer;
      padding: 10px;
      &:hover {
        @extend .animated-icon--jump;
      }
    }
    // &__scroll-button {
    //   @include sansSerif;
    //   text-transform: uppercase;
    //   font-weight: 700;
    //   position: relative;
    //   height: 80px;
    //   color: $grey-light;
    //   line-height: 20px;
    //   background-color: $green;
    //   cursor: pointer;
    //   font-size: 12px;
    //   z-index: 2;
    //   &:before {
    //     font-family: Ionicons;
    //     position: absolute;
    //     left: 0;
    //     width: 100%;
    //     text-align: center;
    //   }
    //   &:hover {
    //     background-color: lighten($green, 1%);
    //   }
    //   [data-state="summary"] & {
    //     @include box-shadow(0, 2px, 2px, 0, rgba($green-dark,0.6), true);
    //     padding-top: 25px;
    //     &:before {
    //       content: '\f126';
    //       top: 5px;
    //     }
    //   }
    //   [data-state="timeline"] & {
    //     @include box-shadow(0, -2px, 2px, 0, rgba($green-dark,0.6), true);
    //     padding-top: 5px;
    //     &:before {
    //       content: '\f123';
    //       top: 25px;
    //     }
    //   }
    // }
  }
}

.timeline {
  &__icons {
    @include transition(bottom 0.5s 0s);
    font-size: 0;
    height: 0;
    position: absolute;
    width: 100%;
    bottom: 30px;
    .no-previous-event & {
      @include transition(bottom 0.5s 0.5s);
      bottom: 65px;
    }
  }
  &__icon {
    position: relative;
    top: 0;
    height: 18px;
    display: inline-block;
    width: $metaLineWidth - 2px;
    margin: auto 1px;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    padding: 2px;
    color: $white;
    background: $black-light;
    border-radius: 50%;
    font-family: Ionicons;
    z-index: 30;
    &:before {
      margin-left: 1px;
    }
    &--location {
      // left: $metaLineWidth;
    }
    &--company {
      // left: $metaLineWidth * 2;
    }
  }
  &__summary {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &__inner {
      width: $metaLineWidth * 3;
      margin: auto;
      position: relative;
      height: 100%;
      z-index: 10;
    }
    .time-now {
      @include transition(top 0.5s, height 0.5s);
      position: absolute;
      top: 0;
      height: 0;
      width: 100%;
      z-index: 12;
      background: $white;
      &:before, &:after {
        @include transition(top 0.5s, height 0.5s);
        position: absolute;
        content: '';
        top: 0;
        height: 0;
        width: 100%;
        background: $white;
      }
    }
    &.no-next-event .time-now {
      top: 5px;
      height: 5px;
      &:before {
        opacity: 0.8;
        top: -5px;
        height: 5px;
      }
      &:after {
        top: 10px;
        height: 5px;
      }
    }
  }
  &__date-container {
    // @include transition(top 0.5s);
    position: absolute;
    height: 0;
    width: 100%;
    text-align: center;
    top: 50%;
    z-index: 11;
    .no-previous-event & {
      top: calc(100% - 21px);
    }
  }
  &__item {
    display: inline-block;
    position: absolute;
    width: $metaLineWidth;
    font-size: 0;
    &__title.has-title {
      position: absolute;
      opacity: 0;
      height: 0;
      top: 50%;
      width: 500px;
      left: -250px + $metaLineWidth / 2;
      text-align: center;
      &:after {
        background: $white;
        display: inline-block;
        @include box-shadow(0px, 1px, 2px, 0, rgba($black-light, 0.5));
        content: attr(data-title);
        position: relative;
        height: 40px;
        line-height: 40px;
        padding: 0 5px;
        font-size: 12px;
        top: -20px;
        z-index: 50;
      }    
    }
    &:hover {
      &:not([data-bg="0"]):after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba($white, 0.3);
      }
      .timeline__item__title {
        opacity: 1;
      }
    }
    &--current {
      height: 100%;
      .timeline__item__title {
        top: 25%;
      }
    }
    &--previous {
      // @include transition (height 0.5s);
      top: 50%;
      height: 50%;
      .no-previous-event & {
        height: 0;
      }
    }
    // &--hidden {
    //   display: none;
    // }
    &:hover .timeline__item__title {
          
    }
    &--current-date {
      @include box-shadow(0px, 1px, 2px, 0, rgba($black-light, 0.5));
      padding: 0 20px;
      position: relative;
      font-size: 15px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: white;
      top: -20px;
      width: auto;
      &:after {
        display: none;
      }
    }
    &--current-study, &--previous-study {
      &[data-bg="1"] {
        background: $green;
      }
      &[data-bg="2"] {
        background: $green-lighter;       
      }
    }
    &--current-location, &--previous-location {
      left: $metaLineWidth;
      &[data-bg="1"] {
        background: $brown;
      }
      &[data-bg="2"] {
        background: $brown-light;       
      }
    }
    &--current-company, &--previous-company {
      left: $metaLineWidth * 2;
      &[data-bg="1"] {
        background: $green;
      }
      &[data-bg="2"] {
        background: $green-lighter;       
      }
    }
    &[data-bg="0"] {
      background: $grey-lightest;
    }
  }
  &__years {
    position: fixed;
    right: 30px;
    top: $header-height;
    height: calc(100% - #{$header-height});
    display: table;
    z-index: 10;
  }
  &__year {
    position: relative;
    vertical-align: middle;
    display: block;
    width: 50px;
    font-size: 13px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    padding: 0;
    text-align: center;
    line-height: 50px;
    color: $grey-light;
    font-weight: 500;
    border: solid 1px;
    .border-canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &:active, &:focus {
      color: $grey-light;
    }
    &:hover, &.timeline__year--active {
      color: $green;
    }
    &.timeline__year--active {
      border: none;
    }
  }
}

.events {
  height: calc(100vh - #{$header-height});
  position: relative;
  background: $white;
  z-index: 1;
  &__item {
    position: absolute;
    width: 100%;
    height: 100%;
    // background: red;
    z-index: 1;
    &.events__item--active {
      z-index: 2;
    }
  }
}

.life-event {
  &__text {
    @include transition(opacity 0.4s 0.1s, padding-left 0.4s 0.1s);
    position: absolute;
    left: 0;
    display: inline-block;
    width: calc(50% - #{$metaLineWidth} * 3 / 2);
    height: 100%;
    opacity: 0;
    padding-left: 75px;
    .switch-side & {
      left: calc(50% + #{$metaLineWidth} * 3 / 2);
    }
    .events__item--active & {
      @include transition(opacity 0.4s 1s, padding-left 0.4s 1s);
      opacity: 1;
      margin-left: 0;
    }
  }
  &__title {
    @include transition(opacity 0.4s 0.1s, margin-left 0.4s 0.1s);
    opacity: 0;
    position: relative;
    z-index: 18;
    margin-left: -75px;
    .events__item--active & {
      @include transition(opacity 0.4s 1s, margin-left 0.4s 1s);
      margin-left: 0;
      opacity: 1; 
    }
  }
  &__picture {
    position: absolute;
    left: calc(50% + #{$metaLineWidth} * 3 / 2);
    display: inline-block;
    width: calc(50% - #{$metaLineWidth} * 3 / 2);
    height: 100%;
    font-size: 1em;
    overflow: hidden;
    &__slice {
      // @include filter(grayscale(100%));
      position: absolute;
      background-size: auto 100%;
      height: 100%;
      &:nth-child(odd) {
        @include transform(translate3d(0,-100%,0));
      }
      &:nth-child(even) {
        @include transform(translate3d(0,100%,0));
      }
      @for $i from 0 through 9 {
        &--#{$i} {
          @include transition(transform 0.5s #{random(8) / 10}s);
        }
      }
      .events__item--active & {
        @include transform(translate3d(0,0,0));
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        height: 100%;
        background: rgba($black, 0.5);
        z-index: 15;
      }
    }
    .switch-side & {
      left: 0;
    }
  }
}