.project {
  &--major {

  }
  &--other {
    &__image-wrap {
      margin: auto;
      border-radius: 50%;
      width: 150px;
      height: 150px;
      border: solid 3px;
      position: relative;
      overflow: hidden;
    }
    &__image {
      @include transform-style(preserve-3d);
      @include transition(width 0.4s, height 0.4s, top 0.4s, left 0.4s);
      position: absolute;
      top: 0;
      width: 150px;
      left: 0;
      height: 150px;
    }
    &:hover {
      .project--other__image {
        width: 200px;
        left: -25px;
        height: 200px;
        top: -25px;
      }
    }
  }
}

.single-project {
  &__banner {
    position: relative;
    overflow: hidden;
    height: 400px;
    &__image {
      @include blur(3px);
      position: fixed;
      top: -1px;
      height: 600px;
      left: -1px;
      right: -1px;
      z-index: -1;
    }
    & > .row {
      height: 100%;
      & > .columns {
        height: 100%;
      }
    }
    &__title {
      position: absolute;
      bottom: 10px;
      width: 100%;
      left: 0;
      padding: 0 15px;
    }
  }
  &__content {
    position: relative;
    z-index: 2;
  }
}

@include mq(small) {
  .single-project {
    &__banner {
      margin-top: -5px;
    }
  }
}