.projects-landing {
  height: 700px;
  height: 100vh;
  position: relative;
  padding-top: $header-height;
  margin-top: -$header-height;
  .projects-landing__featured {
    position: relative;
    height: calc(90% - 45px);
    .ie9 & {
      height: calc(100% - 75px);
    }
    @include mq(mediumDown) {
      height: auto;
    }
  }
  .projects-landing__read-more {
    height: calc(45px + 10%);
    .ie9 & {
      height: 75px;
    }
  }
}
.project {
  @include transition(opacity 0.4s, height 0.4s, width 0.4s);
  opacity: 1;
  overflow: hidden;
  &--featured {
    @include transition(width 1s cubic-bezier(0.57, 0.01, 0.13, 1.03));
    background: $white;
    font-size: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: inline-block;
    float: left;
    &.loaded {
      @include transition(none);
    }
    &:first-child {
      z-index: 5;
    }
    &__illustration {
      height: 100%;
      @include mq(mediumDown) {
        position: absolute;
        display: inline-block;
        width: 30%;
      }
      @include mq(small) {
        position: static;
        width: 100%;
      }
    }
    &__picture-wrap {
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      margin: auto;
      top: 15%;
      width: 133px;
      height: 133px;
      @include mq(medium) {
        top: 50%;
        margin-top: -66.5px;
      }
    }
    &__picture {
      @include transition(0.4s);
      @include filter(grayscale(100%));
      border-radius: 50%;
      width: 133px;
      height: 133px;
      border: solid 3px;
    }
    &__content {
      max-width: 275px;
      height: 100%;
      position: relative;
      margin: auto;
      .loaded > & {
        max-width: 415px;
      }
      @include mq (mediumDown) {
        max-width: 100% !important;
      }
    }
    &__text {
      @include mq(mediumDown) {
        margin-left: 35%;
        width: 60%;
        display: inline-block;
      }
      @include mq(small) {
        width: 100%;
        margin-left: 0;
      }
    }
    &__introduction {
      @include transition(opacity 0.2s 0s);
      position: absolute;
      top: 60%;
      width: 100%;
      opacity: 0;
      @include mq(mediumDown) {
        position: static;
        opacity: 1;
      }
    }
    &__title {
      @include transition(transform 0.2s);
      @include transform(scale(1));
      width: 100%;
      position: absolute;
      top: 45%;
      @include mq(mediumDown) {
        position: static;
      }
    }
    &__button {
      @include transition(opacity 0.2s 0s);
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 10%;
      opacity: 1;
      @include mq(mediumDown) {
        position: static;
      }
    }
    &.kwicks-expanded {
      .project--featured {
        &__introduction {
          @include transition(opacity 0.2s 0.2s);
          opacity: 1;
        }
      }
    }
    &.kwicks-collapsed {
      .project--featured {
        &__picture-wrap {
        }
        &__title {
          @include transform(scale(0.5));
        }
      }
    }
    &:hover {
      .project--featured {
        &__picture {
          @include filter(grayscale(0));
        }
      }
    }
    @include mq(mediumDown) {
      position: static;
      width: 100% !important;
      left: auto !important;
    }
  }
  &--all {
    height: 450px;
  }
  &--other {
    &__content {
      position: relative;
    }
    &__image-wrap {
      border-radius: 50%;
      overflow: hidden;
    }
    &__image {
      @include transition(0.4s);
      @include filter(grayscale(100%));
      margin: auto;
      border-radius: 50%;
      width: 133px;
      height: 133px;
      border: solid 3px;
      position: relative;
      // z-index: 3;
      &--small {
        width: 81px;
        height: 81px;
        border: solid 1px;
      }
    }
    &:hover {
      .project--other__image {
        @include filter(grayscale(0));
      }
    }
  }
  &--filtered-out {
    opacity: 0;
    &.project--all {
      height: 0;  
    }
    &.project--other {
      width: 0;
      height: 0 !important;
    }
  }
}

.single-project {
  &__banner {
    position: relative;
    overflow: hidden;
    height: 400px;
    top: -2px;
    &__image {
      @include blur(3px);
      position: fixed;
      top: -1px;
      height: 600px;
      left: -1px;
      right: -1px;
      z-index: -1;
    }
    & > .row {
      height: 100%;
      & > .columns {
        height: 100%;
      }
    }
    &__title {
      position: absolute;
      bottom: 10px;
      width: 100%;
      left: 0;
      padding: 0 15px;
    }
    .ie9 & {
      &__image {
        position: absolute;
        height: 100%;
      }
      &__title {
        // position: static;
      }
    }
  }
  &__categories {
    &__item {
      display: inline-block;
      margin-top: 5px;
      color: $black-light;
      padding: 5px 10px;
      border: solid 3px;
      font-weight: 400;
      font-size: 13px;
    }
  }
  &__content {
    background: $body-bg-color;
    position: relative;
    z-index: 2;
    img {
      max-width: 100%;
      max-height: 600px;
      display: block;
      margin: auto;
    }
  }
}

@include mq(mediumDown) {
  .projects-landing {
    height: auto;
  }
  .project {
    &--all {
      height: auto;
    }
  }
}

@include mq(small) {
  .single-project {
    &__banner {
      margin-top: -5px;
    }
    &__content {
      img {
        max-height: 250px;
      }
    }
  }
}