%clearface,
.clearface {
  font-style: normal;
  font-family:'Clearface ITC W01', $georgia;
  font-weight: 400;
}


.basefont,
%basefont {
  @include sansSerif;
}

.upcase,
.uppercase,
%uppercase {
  text-transform: uppercase;
}

.lowercase,
%lowercase {
  text-transform: lowercase;
}

.underline {
  text-decoration: underline;
}


.helvetica,
%helvetica {
  font-family: $helvetica;
}

.helvetica-light,
%helvetica-light {
  font-family: $helvetica;
  font-weight: 200;
}

.helvetica-ultra-light,
%helvetica-ultra-light {
  font-family: $helvetica;
  font-weight: 100;
}


.placeholder,
%placeholder {
  font-family: $helvetica;
}

h1, h2, h3, h4, h5, h6 {
  margin: auto;
}

h1,
.heading-1 {
  @include sansSerifLight;
  font-size: 38px;
  line-height: 1.15em;
  letter-spacing: -0.01em;
  color: inherit;
  text-transform: none;
  &.big {
    font-size: 40px;
  }
  @include mq(small) {
    font-size: 30px;
    @include sansSerif;
    &.big {
      font-size: 35px;
    }
  }
}

h3,
.heading-3 {
  @include sansSerif;
  font-size: 19px;
  line-height: 1.25em;
  letter-spacing: -0.01em;
  color: inherit;
  @include mq(small) {
    font-size: 20px;
  }
}

h2,
.heading-2 {
  @include sansSerif;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 0.9em;
  font-weight: 700;
  color: inherit;
}

p,
.paragraph {
  @include sansSerif;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  margin-bottom: 0;
  &.big, &--big {
    font-size: 17px;
  }
  &.small, &--small {
    font-size: 12px;
  }
  &.upcase, &--upcase {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
}

.parent-style {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
}

a {
  @include sansSerif;
  color: $black-light;
  &:hover, &:focus {
    color: $green;
  }
  &.wrap-link {
    color: inherit;
    &:hover, &:focus {
      color: inherit;
    }
  }
}

blockquote,
.blockquote,
%blockquote {
  border: none;
  background-color: $white;
  @extend .padding;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $grey;
  }
  p {
    font-size: 15px;
    color: $grey;
    position: relative;
    padding-left: $column-gutter;
    margin: 0;
    &:before {
      content: '“';
      font-size: 60px;
      position: absolute;
      left: 0;
      top: -21px;
      vertical-align: top;
    }
  }
  cite {
    font-size: 12px;
    color: $grey;
    font-style: normal;
    padding-left: $column-gutter;
    padding-top: 15px;
  }
}

ol {
  padding: 0;
  margin-bottom: 30px;
  li {
    position: relative;
    color: $grey;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
  }
}


ul {
  &.bullet {
    padding: 0;
    margin-bottom: 30px;
    li {
      position: relative;
      color: $grey;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 5px;
    }
  }
  &.arrow {
    list-style-type: none;
    padding: 0;
    margin: 0 0 30px 0;
    li {
      position: relative;
      padding-left: 25px;
      color: $grey;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 5px;
      &:before {
        line-height: 20px;
        font-size: 14px;
        position: absolute;
        top: 0;
        left: 0;
        @extend .ion;
        content: $ionicon-var-ios-arrow-right;
      }
    }
  }
  &.check {
    list-style-type: none;
    padding: 0;
    margin: 0 0 30px 0;
    li {
      position: relative;
      padding-left: 25px;
      color: $grey;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 5px;
      &:before {
        line-height: 20px;
        font-size: 14px;
        position: absolute;
        top: 0;
        left: 0;
        @extend .ion;
        content: $ionicon-var-checkmark-round;
        color: #b4b4b4;
      }
      @include mq(print) {
        font-size: 12px;
      }
    }
    &--large {
      li {
        padding-left: 25px;
        font-size: 17px;
        line-height: 21px;
        margin-bottom: 5px;
        &:before {
          top: 3px;
          color: #b4b4b4;
        }
      }
    }
    &--small {
      li {
        padding-left: 25px;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 3px;
        &:before {
          top: 0;
        }
      }
    }
  }
}